body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.map {
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  margin: 5 auto;
}

.leaflet-interactive {
  opacity: 0.5;
}

.header{
  z-index: 999;
  position: absolute !important;
  top: 10px;
  left: 55px;
}

.footer {
  z-index: 999;
  position: absolute !important;
  bottom: 5px;
  left: 5px;
  padding: 5px;
}

.status {
  z-index: 998;
  position: absolute !important;
  top: 55px;
  right: 15px;
  max-width: 500px;
  padding: 5px;
}

.statusButton {
  z-index: 999;
  position: absolute !important;
  top: 10px;
  right: 10px;
  max-width: 500px;
  padding: 5px;
}

.timeline {
  z-index: 999;
  position: absolute !important;
  bottom: 50px;
  left: 50px;
  right: 50px;
}

.statusSlider {
  left: 10px;
  right: -10px;
}

.timelineSlider > .rc-slider {
  bottom: 0px;
  position: absolute !important;
}

.registerCard {
  z-index: 998;
  position: absolute !important;
  top: 80px;
  left: 15px;
  max-width: 500px;
  padding: 5px;
}

.hiddenCard {
  visibility: hidden;
  display: none;
}